#videos {
    display: flex;
     flex-direction: column;
    justify-content: center;
     align-items: center;
     padding: 0 50px;
     text-align: center;
}

iframe#video {
    box-shadow: 5px 12px 10px 0px;
    background: red  5px;
    margin: 19px;
}

iframe#video:hover {
    
  transform:scale(1.005);
  transition:0.3s;
    background: red  10px;
   
}